[submodule "thirdparty/sokol"]
	path = thirdparty/sokol
	url = git@github.com:Tail-Wag-Games/sokol.git
[submodule "thirdparty/cr"]
	path = thirdparty/cr
	url = git@github.com:Tail-Wag-Games/cr.git
[submodule "thirdparty/cimgui"]
	path = thirdparty/cimgui
	url = git@github.com:Tail-Wag-Games/odin-imgui.git
[submodule "thirdparty/lockless"]
	path = thirdparty/lockless
	url = git@github.com:Tail-Wag-Games/c89atomic.git
[submodule "thirdparty/fcontext"]
	path = thirdparty/fcontext
	url = git@github.com:Tail-Wag-Games/deboost.context.git
[submodule "thirdparty/glslcc"]
	path = thirdparty/glslcc
	url = git@github.com:Tail-Wag-Games/glslcc.git
